<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astronomy - Night Sky Wonders</title>
    <link rel="stylesheet" href="imagesStyling.css">
</head>
<body>
    <div class="container">
        <h2>Jebel Serbal</h2>
        <div class="content-wrapper">
            <div class="description">
                <h3>Sinai Wonder</h3>
                <p>Jebel Serbal is one of the Sinai's most iconic mountains. A towering mass of rugged peaks, pinnacles and deep, shadowy ravines, it stands in the territory of a Bedouin tribe called the Garasha and is the northernmost of the Seven Summits. Jebel Serbal has long had a sacred significance in the Sinai. Some say its name is derived from the ancient God Baal</p>
            </div>
            <div class="img-container" id="imgContainer">
                <img src="/serbal.jpg" alt="Beautiful starry night sky over mountains" />
            </div>
        </div>
    </div>
</body>
</html>